<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit ToDo</title>
</head>
<body>
    <h1>Edit ToDo</h1>
    <a href="/">Back</a>
    <form method="post">
        {% csrf_token %}
        <div class="">
            <p>Topic:</p>
            <input name='topic' type="text" value="{{ context.topic }}">
        </div>
        <div class="">
            <p>Description</p>
            <textarea name="description">{{ context.description }}</textarea>
        </div>
        <button type="submit">Edit</button>
    </form>
</body>
</html>